@page
@model IndexModel

<!DOCTYPE html>
<html lang="ru">
<head>

    <title> PLEASE WORK </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="flickity.css" media="screen">
    <script type="text/javascript" src="https://yastatic.net/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    <header>        
        <div class="menu">
            <button> Сериалы </button>
            <button onclick="window.location.href = 'https://w3docs.com';"> Фильмы </button>
            <button> Амедиатека </button>
            <button> Детям </button>
            <button> Доккино </button>
            <button><img src="image/sign/search.svg" style="max-width:17px; max-height:17px; margin-top:5px"></button>
        </div>
        <div class="enter">
            <div class="sign_up">
                <button> Войти </button>
            </div>
            <div class="registr">
                <button style="background-color: #2f80ed; "> Зарегистрироваться </button>
            </div>
        </div>
    </header>




    <div class="Billboard Block">

        <div class="gallery js-flickity"
             data-flickity-options='{ "wrapAround": true , "autoPlay": true }'>
            <div class="gallery-cell"><a href=""><img class="BillboardImage" src="../wwwroot/img/moon.jpg"></a></div>
            <div class="gallery-cell"><a href=""><img class="BillboardImage" src="../wwwroot/img/moon.jpg"></a></div>
            <div class="gallery-cell"><a href=""><img class="BillboardImage" src="../wwwroot/img/moon.jpg"></a></div>
            <div class="gallery-cell"><a href=""><img class="BillboardImage" src="../wwwroot/img/moon.jpg"></a></div>
            <div class="gallery-cell"><a href=""><img class="BillboardImage" src="../wwwroot/img/moon.jpg"></a></div>
            <div class="gallery-cell"><a href=""><img class="BillboardImage" src="../wwwroot/img/moon.jpg"></a></div>
            <div class="gallery-cell"><a href=""><img class="BillboardImage" src="../wwwroot/img/moon.jpg"></a></div>
            <div class="gallery-cell"><a href=""><img class="BillboardImage" src="../wwwroot/img/moon.jpg"></a></div>
            <div class="gallery-cell"><a href=""><img class="BillboardImage" src="../wwwroot/img/moon.jpg"></a></div>
            <div class="gallery-cell"><a href=""><img class="BillboardImage" src="../wwwroot/img/moon.jpg"></a></div>            
        </div>

    </div>

    <br>

    <div class="Categories">

        <div class="AmediatekaCat">
            <div class="NameCat">
                <div style="display: flex; flex-grow: 1; justify-content: flex-end"><a class="textName" href="">Амедиатека</a></div>        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                <div style="display: flex; flex-grow: 2.5; "></div>
                <div style="display: flex; flex-grow: 1; "><a class="ShowAll" href="">Показать все</a></div>                              <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            </div>
            <div class="filmsCat">
                <div>
                    <a href=""><img class="imageCat" src="~/ItemPosters/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="~/ItemPosters/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="~/ItemPosters/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="~/ItemPosters/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="~/ItemPosters/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
            </div>
        </div>

        <div class="FamousCat">
            <div class="NameCat">
                <div style="display: flex; flex-grow: 1; justify-content: flex-end"><a class="textName" href="">Амедиатека</a></div>        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                <div style="display: flex; flex-grow: 2.5; "></div>
                <div style="display: flex; flex-grow: 1; "><a class="ShowAll" href="">Показать все</a></div>                              <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            </div>
            <div class="filmsCat">
                <div>
                    <a href=""><img class="imageCat" src="~/ItemPosters/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="~/ItemPosters/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="~/ItemPosters/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="~/ItemPosters/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="~/ItemPosters/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
            </div>
        </div>

        <div class="MoviesLoveCat">
            <div class="NameCat">
                <div style="display: flex; flex-grow: 1; justify-content: flex-end"><a class="textName" href="">Амедиатека</a></div>        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                <div style="display: flex; flex-grow: 2.5; "></div>
                <div style="display: flex; flex-grow: 1; "><a class="ShowAll" href="">Показать все</a></div>                              <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            </div>
            <div class="filmsCat">
                <div>
                    <a href=""><img class="imageCat" src="image/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="image/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="image/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="image/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="image/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
            </div>
        </div>

        <div class="MoviesAllFamilyCat">
            <div class="NameCat">
                <div style="display: flex; flex-grow: 1; justify-content: flex-end"><a class="textName" href="">Амедиатека</a></div>        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                <div style="display: flex; flex-grow: 2.5; "></div>
                <div style="display: flex; flex-grow: 1; "><a class="ShowAll" href="">Показать все</a></div>                              <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            </div>
            <div class="filmsCat">
                <div>
                    <a href=""><img class="imageCat" src="image/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="image/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="image/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="image/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="image/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
            </div>
        </div>

        <div class="MoviesMan">
            <div class="NameCat">
                <div style="display: flex; flex-grow: 1; justify-content: flex-end"><a class="textName" href="">Амедиатека</a></div>        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                <div style="display: flex; flex-grow: 2.5; "></div>
                <div style="display: flex; flex-grow: 1; "><a class="ShowAll" href="">Показать все</a></div>                              <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            </div>
            <div class="filmsCat">
                <div>
                    <a href=""><img class="imageCat" src="image/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="image/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="image/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="image/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
                <div>
                    <a href=""><img class="imageCat" src="image/poster_Marsin.jpg"></a>
                    <div><a class="nameFilms" href="">Марсианин</a></div>
                    <div><a class="nameFilms" href="" style="color: #babbbb; font-size: 14px; ">2020,США,Научный</a></div>
                </div>
            </div>
        </div>

    </div>

    <div style="display:flex; justify-content:center">
    <div style="max-width:1150px">
        <h4 align="left">ОНЛАЙН-КИНОТЕАТР ПЕРВОГО КАНАЛА</h4>
        <p style="display: flex; align-content: flex-end; justify-content: flex-end ">
            Кино1ТВ – это онлайн-кинотеатр «Первого канала», предлагающий телезрителям легальный доступ
            к просмотру тысячи российских и зарубежных сериалов
            и фильмов на любом устройстве, в HD качестве,
            без рекламы... и даже без Интернета –
            если кино предварительно загрузить
            в мобильном приложении.
        </p>
    </div>

    </div>


    <script src="buttonup.js"></script>
    <script src="flickity.js"></script>
</body>
</html>
